

.playfair-display-heading-f {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}
p, a{
    font-family: "Playfair Display", serif;
}

#site_name_new{
    display: none;
}
#site_name_exist{
    display: none;
}
html{
    height: 100%;
}
.navbar {
    transition: background-color 0.5s ease;
}
body{
    background-color: #c7dbd2;
    height: 100%;
}
/*.nav-lists{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
.nav-link-n{
    color: #D3D3D3;
}
.nav-link-n:hover{
    text-decoration: underline;
    color: #B0B0B0;
}
/*.burger{*/
/*    display: none;*/
/*}*/
/*.close{*/
/*    display: none;*/
/*}*/
.nav-hero{
    background-color: #435a42;
    background-attachment: fixed;
}
.main-heading{
    font-size: 2.8rem;
    color: #98FB98;
}
#main-para{
    font-size: 1.2rem;
    color: #D3D3D3;
}
.sub-heading{
    color: #98FB98;
}
.btn{
    border: none;
    outline: none;
    box-shadow:none;
}
.btn-success{
    background-color: #568956;
    border: none;
    color: #000000;
}
.btn-success:hover{
    background-color: #444945;
    border: none;
    color: #B0B0B0;
}
form{
    padding-left: 2rem;
    padding-right: 2rem;
}
.form-control{
    border-radius: 1.2em 0 1.2em 0;
    height: 2.5rem !important;
    background-color: #C7DBD2;
    border: none;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
}
.form-control:focus{
    box-shadow:none!important;
    background-color: #C7DBD2;
    border: none;
}
.btn{
     border-radius: 0 1em 0 1em;

}
.feat{
    margin-top: 2rem;
    background-color: #435a42;
    height: 18rem !important;
}
.feat:hover{
    transform: scaleX(1.1);
    transition-duration: 2s;
}
.element:hover{
    transform: scaleX(1.1);
    transition-duration: 2s;
}
.element1:hover{
    transform: scaleX(1.1);
    transition-duration: 2s;
}
.anim {
  animation: scaleXAnimation 2s ease-in-out infinite;
}

/* Define the animation */
@keyframes scaleXAnimation {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1) translateX(-5%) translateX(5%) translateY(5%);
  }
  100% {
    transform: scaleX(1);
  }
}

.feat-head{
    color: #9ed39e;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 1rem;
}
.feat-head:hover{
    color: #B0B0B0;
}
.feat-para{
    color: #D3D3D3;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 2rem;
}
.element{
    border-radius: 3em 3em 0 0;
    margin-right: 2em;
}
.element1{
    border-radius: 0 0 3em 3em;
}
.about-us{
}
.abt{
    background-color: #435a42;
    height: 18rem !important;
    margin-top: 2rem;
}
.abt-1{
    margin-right: 2em;
}
footer{
    background-color: #435a42;
}
.dash-footer{
    background-color: #435a42;
    position: sticky;
    /*bottom: 0;*/
    width: 100%;
}
table{
    background-color: #D3D3D3;
    border-radius: 0.8em;
    overflow: auto;
}
tbody{
    background-color: #D3D3D3;
    border-radius: 0.5em 0 0.5em 0;
}
td{
    background-color: #D3D3D3;
    border-radius: 0.5em 0 0.5em 0;
    overflow: visible;
}
.table-hover tbody tr:hover td{
    background-color: #D3D3D3;
    color: #435a42;
}
.b-dash-nav{
    background-color: #5b7659;
}
#wcomplete, #equipused, #matused, #res-steps, #description{
    min-height: 6rem;
}
.major{
    align-items: center;
    justify-content: center;
}
.burger{
    display: none;
    height:1em !important;
    width: 1rem !important;
}
.close{
    display: none;
    height:1em !important;
    width: 1rem !important;
}
#feat2{
    margin-right: 2em;
}

/*dashboard styling*/
.site-in-progress{
    background-color: #435a42;
    min-height: 100vh !important;
    border-radius: 1.2rem 0 1.2em 0;
    position: relative;
}
.dashboard-element{
    background-color: #435a42;
    height: 11rem;
    width: 16rem;
    border-radius: 1.2rem 0 1.2em 0;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
}
.dashboard-element:hover{
    background-color: #384937;
    transition: ease-in-out 2s;
    transform: scale(1.1);
}
.dashboard-element h5{
    color: #D3D3D3;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
}
.dashboard-links{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
}
.first-element{
    margin-right: 10rem;
}
.site-title-div{
    background-color: #C7DBD2;
    border-radius: 1.2rem 0 1.2em 0;
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #435a42;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}
.h5{
    color: #D3D3D3;
    font-family: "Lato", sans-serif;
    font-size: 2rem !important;
    font-weight: bold;
}
.see-all-progress{
    border-radius: 1.2rem 0 1.2em 0;
    background-color: #568956;
    width: 20%;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.sites-count{
    font-size: 1.2rem !important;
    color: #9ed39e !important;
}
.log-form{
    background-color: #435a42;
    border-radius: 1.5rem 0 1.5em 0;
}
.log-text{
    color: #a6efa6;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
form label{
    color: #D3D3D3;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}
select option{
    background-color: #c7dbd2;
    color: #435a42;
}
select option:focus{
    background-color: #c7dbd2;
    color: #435a42;
}
.individual-activity {
    background-color: #c7dbd2;
    padding: 1rem;
    color: #0f0f0f;
    font-family: "Lato", sans-serif;
    border-radius: 1.2rem 0 1.2em 0;
}
.report-title{
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #98FB98;
    text-align: left;
}
.header-style{
}
.h-line{
    color: #98FB98;
}
.h-line-r{
    color: #435a42;
}
.report-items{
    background-color: #c7dbd2;
}
.report-search-form{
    display: flex;
    background-color: #c7dbd2;
    border-radius: 0.5rem 0 0.5em 0;
    height: 3rem !important;
    padding-right: 1.4rem !important;
}
.form-contol{
    background-color: #c7dbd2;
    border: none;
}
#yearly-btn:hover{
    background-color: #444945 !important;
    color: #B0B0B0 !important;
}
.modal-main-background{
    background-color: #c7dbd2 !important;
    border-radius: 1.2rem 0 1.2em 0;
}
.profile-modal{
     background-color: #435a42 !important;
     border-radius: 1.2rem 0 1.2em 0;
}
.modal-form{
    background-color: #435a42;
    border-radius: 1.2rem 0 1.2em 0;
}

@media print {
    nav, footer, .form-and-export, .heading-elements, .h-line{
        display: none !important;
    }
}
/*for mobile phone screen*/
@media (max-width: 768px){
    .feat{
        margin-top: 2rem;
        background-color: #435a42;
        height: 16rem !important;
        width: 80%;
        margin-right: 0;
        margin-left: 0;
}
    #feat2{
        margin-right: 0 !important;
}
    .abt{
        height: 13rem !important;
        margin-top: 2rem;
        width: 80%;
}
    .abt-1{
        margin-right: 0;
}
    .site-in-progress{
        min-height: 50vh !important;
        width: 90%;
        border-radius: 1.2rem 0 1.2em 0;
        position: relative;
        margin-left: 1rem;
}
    .dashboard-element{
        width: 80%;
        margin-left: 2rem;
}
    .page-title{
        margin-left: 2rem;
    }
    .feat-para{
        text-align: center;
        padding-top: 0.5rem;
}
}