{% extends 'basedash.html' %}
{% load static %}
{% block content %}
    <div class=" col-md-12 container log-form min-vh-100">
     <div class="mt-4 log-text"><img src="{% static 'images/view-activiies.svg' %}" alt="add activity"><h2>Logged Activities</h2></div><br>
         <div class="form-and-export row justify-content-start ms-2 mb-5">
            <form action="" enctype="multipart/form-data" method="get" class="report-search-form col-md-9">
                <button class="form-contol"><i class="fa-solid fa-magnifying-glass" style="color: #435a42"></i></button>
                <input type="text" name="search" class="form-control" placeholder="search to report by site name, work completed, equipment used, construction stage, activity date, or materials used ">
            </form>
        </div>
        <div class="individual-activity row ms-2 me-2 mt-3 mb-1">
           <div class="col-md-1 border-end border-black">
             <p class="lato-bold">Site Name</p>
         </div>
          <div class="col-md-1">
              <p class="lato-bold">Date</p>
         </div>
          <div class="col-md-1">
              <p class="lato-bold">Site Open Time</p>
         </div>
          <div class="col-md-1 border-end border-black">
              <p class="lato-bold">Site Close Time</p>
         </div>
          <div class="col-md-2">
             <p class="lato-bold">Work Completed</p>
         </div>
        <div class="col-md-2">
             <p class="lato-bold">Equipment Used</p>
         </div>
      <div class="col-md-1 border-end border-black">
               <p class="lato-bold">Materials Used</p>
         </div>
      <div class="col-md-1 ">
          <p class="lato-bold">Progress Images</p>
         </div>
       <div class="col-md-1">
            <p class="lato-bold">Documents Used</p>
         </div>
      </div>
        {% for activity in activities %}
      <a href="{% url 'activityupdate' activity.id %}" style="text-decoration: none;">
      <div class="individual-activity row ms-2 me-2 mt-3 mb-3">
           <div class="col-md-1 border-end border-black">
             <p>{{ activity.site_name|capfirst }}</p>
         </div>
          <div class="col-md-1">
              <p>{{ activity.date|date:"d/m/Y" }}</p>
         </div>
          <div class="col-md-1">
              <p>{{ activity.site_open_time }}</p>
         </div>
          <div class="col-md-1 border-end border-black">
              <p>{{ activity.site_close_time }}</p>
         </div>
          <div class="col-md-2">
             {% autoescape off %}
              <p>{{ activity.work_completed|capfirst|linebreaks }}</p>
             {% endautoescape %}
         </div>
        <div class="col-md-2">
               {% autoescape off %}
              <p>{{ activity.equipment_used|capfirst|linebreaks }}</p>
               {% endautoescape %}
         </div>
      <div class="col-md-1 border-end border-black">
               {% autoescape off %}
               <p>{{ activity.materials_used|capfirst|linebreaks }}</p>
               {% endautoescape %}
         </div>
      <div class="col-md-1">
               {% for photo in activity.progress_photos.all %}
                    <img src="{{ photo.image.url }}" alt="Progress Photo" width="50" height="50">
                {% endfor %}
         </div>
       <div class="col-md-1">
               {% for document in activity.relevant_documents.all %}
                    <p>Doc Used</p>
                {% endfor %}
         </div>
      </div>
      </a>
            {% empty %}
            {% if query %}
                 <p class="ms-2 mt-3 text-white">No activities found for {{ query }}</p>
            {% else %}
                 <p class="ms-2 mt-3 text-white">No activities have been logged yet</p>
            {% endif %}
         {% endfor %}
    </div>
{% endblock %}