{% extends 'basedash.html' %}
{% load static %}
{% block content %}
<div class="col-md-11 container log-form mt-4" style="min-height: 100vh">
    <div class="col-md-8 container d-flex-column justify-content-center align-items-center centered-container">
        <div class="text-center mb-5">
            <div class="mt-4 log-text"><img src="{% static 'images/edit-profile.svg' %}" alt="password"><h2>Change Password</h2></div><br>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'change-password' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-sub-group">
            <label for="fname">Old Password</label>
            <input type="password" id="fname" class="form-control mt-2" placeholder="Enter Your Old Password" name="o-password" required>
            </div>
            <div class="form-sub-group">
            <label for="lname">New Password</label>
            <input type="password" id="lname" class="form-control mt-2" placeholder="Enter the New Password" name="n-password" required>
            </div>
            <div class="form-sub-group">
             <label for="email">Confirm New Password</label>
            <input type="password" id="email" class="form-control mt-2" placeholder="Confirm New Password" name="confirm-n-password" required>
                </div>
            <div class=" row mx-1 justify-content-between mx-5">
            <button class="btn btn-success mt-4 mb-4 col-md-4" style="color: #D3D3D3; height: 3rem; min-width: 8rem" type="submit">Update</button>
            <a href="{% url 'dash' %}" class="btn btn-success mt-4 mb-4 col-md-4" style="color: #D3D3D3; height: 3rem; min-width: 8rem; padding-top: 0.6rem; background-color: #d14d4d">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
