{% extends 'basedash.html' %}
{% load static %}
{% block content %}
    <div class=" container min-vh-100">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="">
            <h4 class="">Hello {{user.first_name|capfirst}} {{user.last_name|capfirst}}!</h4>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 dashboard-element first-element mt-3">
                    <a href="" class="dashboard-links">
                        <img src="{% static 'images/view-profile.svg' %}" alt="view profile">
                        <div class="profile-text">
                            <h5>View Profile</h5>
                        </div>
                     </a>
                </div>
                  <div class="col-md-6 dashboard-element mt-3">
                     <a href="" class="dashboard-links">
                        <img src="{% static 'images/edit-profile.svg' %}" alt="edit profile">
                        <div class="profile-text">
                            <h5>Edit Profile</h5>
                        </div>
                     </a>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6 dashboard-element first-element mt-3">
                     <a href="{% url 'activitylog' %}" class="dashboard-links">
                        <img src="{% static 'images/log.svg' %}" alt="log activity">
                        <div class="profile-text">
                            <h5>Log a New Activity</h5>
                        </div>
                     </a>
                </div>
                  <div class="col-md-6 dashboard-element mt-3">
                   <a href="{% url 'issuelog' %}" class="dashboard-links">
                        <img src="{% static 'images/log.svg' %}" alt="log issue">
                        <div class="profile-text">
                            <h5>Log a New Issue</h5>
                        </div>
                     </a>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6 dashboard-element first-element mt-3">
                     <a href="{% url 'activityview' %}" class="dashboard-links">
                        <img src="{% static 'images/view-activiies.svg' %}" alt="view activities">
                        <div class="profile-text">
                            <h5>View All Activities</h5>
                        </div>
                     </a>
                </div>
                  <div class="col-md-6 dashboard-element mt-3">
                     <a href="{% url 'issueview' %}" class="dashboard-links">
                        <img src="{% static 'images/view-issues.svg' %}" alt="view issues">
                        <div class="profile-text">
                            <h5>View All Issues</h5>
                        </div>
                     </a>
                </div>
            </div>
             <div class="row mt-5 mb-5">
                <div class="col-md-6 dashboard-element first-element mt-3">
                     <a href="{% url 'activityrep' %}" class="dashboard-links">
                        <img src="{% static 'images/report.svg' %}" alt="generate activity report">
                        <div class="profile-text">
                            <h5 class="text-center">Generate Activity <br> Report</h5>
                        </div>
                     </a>
                </div>
                  <div class="col-md-6 dashboard-element mt-3">
                     <a href="{% url 'issuerep' %}" class="dashboard-links">
                        <img src="{% static 'images/report.svg' %}" alt="generate issue report">
                        <div class="profile-text">
                            <h5 class="text-center">Generate Issue <br> Report</h5>
                        </div>
                     </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 site-in-progress mb-5">
            <div class="profile-text mt-3">
                <h5 class="text-center h5">Sites in Progress <span class="sites-count">({{ count|default:0 }})</span></h5>
            </div>
            {% for site in sites_in_progress %}
            <div class="site-title-div mt-3">
                <p>{{ site.site_name }}</p>
            </div>
                {% empty %}
                <div class="site-title-div mt-3">
                <p>No sites are in progress at the moment</p>
            </div>
            {% endfor %}
         <button class="btn btn-success see-all-progress"><a class="nav-link" href="{% url 'sites-in-progress' %}">See All</a></button>
        </div>
    </div>
    </div>
{% endblock %}
