{% extends 'basepublic.html' %}
{% load static %}
{% block hero %}
    <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in">
            <h2 class="text-center sub-heading" data-aos="fade-down">Reset Your Password</h2><br>
             {% if messages %}
                        {% for message in messages %}
                            <p style="color: {% if message.tags == 'error' %}#d14d4d{% else %}#435a42{% endif %}; background-color: #c7dbd2;" class="mx-5 p-3" id="alert-items">
                                {{ message }}
                            </p>
                        {% endfor %}
                {% endif %}
            <form action="{% url 'forgot_password' %}" method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}
                <label for="password">Email</label>
                <input type="email" class="form-control mt-2" placeholder="Email Address" name="email" required>
                <div class="d-flex flex-column align-items-center">
                <button class="btn btn-success mt-4" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
     </div>
{% endblock %}