{% extends 'basepublic.html' %}
{% load static %}
{% block hero %}
<div class="d-flex-column justify-content-center row">
<div class="col-md-7"></div>
    <div class="col-md-5" id="main" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="100">
     <h2 class=" main-heading mt-4" data-aos="fade-down">Revolutionize Your Construction
         <br>Site Management</h2>
     <p class="mt-4" id="main-para">Streamline your construction site management with
          SiteLogger. <br class="mt-5">Save time, reduce errors, and improve
          communication. <br> <br>  Start logging your site's activities today!</p>
     <button class="btn btn-success mt-4"><a class="nav-link" href="{% url 'signup' %}">Get Started</a></button>
    </div>
</div>
{% endblock %}
{% block content %}
{#    beginning of features section#}
<div class="features-section mt-5 align-items-center" id="features">
     <h2 class="text-center">Features</h2>
<div class="row justify-content-center align-items-center" data-aos="fade-in">
<div class="col-md-2 element feat" id="feat1" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
     <h3 class="mt-4 feat-head">Daily Activity
          Logging</h3>
     <p class="feat-para">Log work completed, labor
          hours, equipment used,
          and materials consumed.
          </p>
</div>
<div class="col-md-3 element1 feat" id="feat2" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="100">
     <h3 class="mt-4 feat-head">Issue Tracking</h3>
     <p class="feat-para">Record and resolve issues
          encountered on-site.
          Including delays, accidents,
          equipment failure etc.
          </p>
</div>
<div class="col-md-2 element feat" id="feat3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
     <h3 class="mt-4 feat-head">Report
          Generation</h3>
     <p class="feat-para">Automatically compile daily activity and issue
         logs into structured
          reports.
          </p>
</div>
<div class="col-md-3 element1 feat" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">
     <h3 class="mt-4 feat-head"> Upload Photos and
          Documents</h3>
     <p class="feat-para mt-4">Attach photos and
          documents to your reports.
          Including completed work
          photos, incidents etc.</p>
</div>
</div>
{#    end of features section#}
{#    start of about us section#}
    <div class="about-us mt-5 align-items-center" id="why-us">
<h2 class="text-center">Why Choose Us</h2>
        <p class="text-center">Our System makes your work easier</p>
<div class="row justify-content-center align-items-center" data-aos="fade-up">
     <div class="col-md-2 abt abt-1 element anim" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
          <h3 class="mt-4 feat-head">Efficiency</h3>
          <p class="feat-para">Automate data entry and
report generation</p>
     </div>
     <div class="col-md-2 abt abt-1 element1 anim" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="100">
          <h3 class="mt-4 feat-head">Accuracy</h3>
          <p class="feat-para">Reduce errors and improve
data reliability.</p>
     </div>

      <div class="col-md-2 abt abt-1 element anim" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">
          <h3 class="mt-4 feat-head">Accountability</h3>
          <p class="feat-para">Track issues and their
resolutions.</p>
     </div>

     </div>
    </div>
{#    end of about us section#}
{#    beginning of contact us section#}
    <div class="contact-us mt-5" id="contact" data-aos="fade-in">
     <h2 class="text-center">Contact Us</h2>
     <div class="d-flex major mt-4">
          <div class="email" style="margin-right: 2em" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">
               <a href="mailto:info@sitelogger.com" style="text-decoration: none; color: inherit; margin-left: 4em"><i class="fa-solid fa-envelope" style="color: inherit"></i></a>
               <a href="mailto:info@sitelogger.com" class="nav-link" style="text-decoration: underline;">info@sitelogger.com</a>
          </div>
          <div class="phone" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100">
               <a href="tel:+254712345678" class="nav-link" style="text-decoration: none; color: inherit; margin-left: 3em"><i class="fa-solid fa-phone" aria-hidden="true"></i></a>
               <a href="tel:+254712345678" class="nav-link" style="text-decoration: underline;">+254 712345678</a>
          </div>
     </div>
          <h6 class="text-center mt-4">Social Media</h6>
        <div class="row d-flex justify-content-center align-items-center mt-4 mb-4" style="margin-left: 3em" >
          <div class="col-md-1">
               <a href="" class="nav-link">
                    <i class="fa-brands fa-instagram"></i>
               </a>
          </div>
          <div class="col-md-1">
               <a href="" class="nav-link"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
          <div class="col-md-1">
               <a href="" class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
          </div>
          </div>
</div>
</div>
{#    end of contact section#}
{% endblock %}