{% extends 'basedash.html' %}
{% load static %}
{% block content %}
    <div class=" col-md-12 container log-form min-vh-100">
     <div class="mt-4 log-text"><img src="{% static 'images/view-issues.svg' %}" alt="add activity"><h2>Logged Issues</h2></div><br>
     <div class="form-and-export row justify-content-start ms-2 mb-5">
            <form action="" enctype="multipart/form-data" method="get" class="report-search-form col-md-9">
                <button class="form-contol"><i class="fa-solid fa-magnifying-glass" style="color: #435a42"></i></button>
                <input type="text" name="search" class="form-control" placeholder="search by site name, issue description, issue status and issue resolution steps">
            </form>
        </div>

        <div class="individual-activity row ms-2 me-2 mt-3 mb-1">
           <div class="col-md-1 border-end border-black">
             <p class="lato-bold">Site Name</p>
         </div>
          <div class="col-md-1">
              <p class="lato-bold">Issue Date</p>
         </div>
          <div class="col-md-1 border-end border-black">
              <p class="lato-bold"> Issue Occurrence Time</p>
         </div>
          <div class="col-md-3">
             <p class="lato-bold">Issue Description</p>
         </div>
        <div class="col-md-3">
             <p class="lato-bold">Issue Resolution Steps</p>
         </div>
      <div class="col-md-1 border-end border-black">
               <p class="lato-bold">Issue Status</p>
         </div>
      <div class="col-md-1 ">
          <p class="lato-bold">Issue Images</p>
         </div>
      </div>
        {% for issue in issues %}
      <a href="{% url 'issueupdate' issue.id %}" style="text-decoration: none;">
      <div class="individual-activity row ms-2 me-2 mt-3 mb-3">
           <div class="col-md-1 border-end border-black">
             <p>{{ issue.site_name|capfirst }}</p>
         </div>
          <div class="col-md-1">
              <p>{{ issue.issue_date|date:"d/m/Y" }}</p>
         </div>
          <div class="col-md-1 border-end border-black">
              <p>{{ issue.issue_time }}</p>
         </div>
          <div class="col-md-3">
             {% autoescape off %}
              <p>{{ issue.issue_description|capfirst|linebreaks }}</p>
             {% endautoescape %}
         </div>
        <div class="col-md-3">
               {% autoescape off %}
              <p>{{ issue.resolution_steps|capfirst|linebreaks }}</p>
               {% endautoescape %}
         </div>
      <div class="col-md-1 border-end border-black">
               {% autoescape off %}
               <p>{{ issue.issue_status|capfirst }}</p>
               {% endautoescape %}
         </div>
      <div class="col-md-1">
               {% for photo in issue.issue_photos.all %}
                    <img src="{{ photo.image.url }}" alt="Progress Photo" width="50" height="50">
                {% endfor %}
         </div>
      </div>
      </a>
              {% empty %}
            {% if query %}
                 <p class="ms-2 mt-3 text-white">No issues found for <span class="text-black">{{ query }}</span></p>
            {% else %}
                 <p class="ms-2 mt-3 text-white">No activities have been logged yet</p>
            {% endif %}
         {% endfor %}
    </div>
{% endblock %}