{% extends 'basedash.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-11 container log-form">
         <div class="mt-4 log-text"><h2>Update Issue</h2></div><br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'issueupdate' my_issue.id %}" method="post" enctype="multipart/form-data" target="_self">
            {% csrf_token %}
            <div class="site_name_new" id="site_name_new" style="display: block">
                <label for="site_name1">Site Name</label>
                <input type="text" id="site_name1" placeholder="Enter Site Name" name="site_name" class="form-control mt-2" value="{{ my_issue.site_name }}">
            </div>
            <label for="date">Issue Occurrence Date</label>
            <input type="date" id="date" class="form-control mt-2" placeholder="Enter the Date of Issue Occurrence" name="issue_date" required value="{{ my_issue.issue_date|date:'Y-m-d'}}">
            <label for="time">Issue Occurrence Time</label>
            <input type="time" id="time" class="form-control mt-2" placeholder="Enter the Time of Issue Occurrence" name="issue_time" required value="{{ my_issue.issue_time|time:'H:i'}}">
            <label for="description">Issue Description</label>
            <textarea name="issue_description" rows="2" cols="40" class="form-control main-t-area" placeholder="Describe the Issue" id="description" value="{{ my_issue.issue_description }}">{{ my_issue.issue_description|capfirst }}</textarea>
{#            <label for="issue_images">Issue Images (Select All)</label> #}
{#            <input type="file" id="issue_images" name="images" class="form-control mt-2" multiple>#}
            <label for="res-steps">Issue Resolution Steps</label>
            <textarea name="resolution_steps" rows="2" cols="40" class="form-control main-t-area" placeholder="Describe the Resolution Steps Taken" id="res-steps" value="{{ my_issue.resolution_steps }}">{{ my_issue.resolution_steps|capfirst }}</textarea>
            <label for="status">Issue Status</label>
            <select name="issue_status" id="status" class="form-control mt-2" type="text">
                 <option selected disabled value="{{ my_issue.issue_status }}">{{ my_issue.issue_status|capfirst}}</option>
                {% for status in issue_status %}
                 <option value="{{ status.0 }}">{{ status.1 }}</option>
                {% endfor %}
            </select><br>
           <div class="row align-items-center justify-content-between me-5 ms-5">
                <button class="btn btn-success mt-4 mb-4 col-md-4" style="color: #D3D3D3; height: 3rem; min-width: 8rem; font-weight: bold" type="submit">Update</button>
               <a href="{% url 'delete-issue' my_issue.id %}" class="btn btn-success mt-4 mb-4 col-md-4" style="color: #D3D3D3; height: 3rem; min-width: 8rem; padding-top: 0.6rem; background-color: #d14d4d; font-weight: bold" type="submit">Delete</a>
        </div>
        </form>
</div>
</div>
{% endblock %}
