{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Verify new device</title>
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Times New Roman',serif;
      background: #ffffff;
      font-size: 14px;
      text-align: left;
    "
  >
    <div
      style="
        max-width: 1000px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #ffffff;
        font-size: 14px;
        color: #ffffff;
      "
    >
      <header>
        <table style="width: 100%;">
          <tbody>
            <tr style="height: 0;">
            </tr>
          </tbody>
        </table>
      </header>

      <main>
        <div
          style="
            margin: 0;
            margin-top: 10px;
            padding: 92px 30px 115px;
            background: #435a42;
            border-radius: 30px 0 30px 0;
            box-shadow: 0 0 2px #435a42;
          "
        >
          <div style="width: 100%; max-width: 1000px; margin: 0 auto;">
            <!-- Content -->
            <p
                style="
                margin-bottom: 5px;
                font-weight: 500;
                letter-spacing: 0.56px;
                color: #c7dbd2;
                text-align: left;
                "
            >
            Hi {{ name }},
            </p>

            <p
              style="
              margin: 0;
              margin-top: 17px;
              font-weight: 500;
              letter-spacing: 0.56px;
              color: #c7dbd2;
              text-align: left;
              "
            >
             To verify your account, please enter the code below:
            </p>
            <p
                style="text-align: left; font-size: 40px;  color: #c7dbd2; margin-top: 15px; font-weight: 600;"
            >
            {{ otp }}
            </p>
            <p
            style="
            margin: 0;
            margin-top: 17px;
            font-weight: 500;
            letter-spacing: 0.56px;
            color: #d5deef;
            text-align: left;
            "
          >
           If this request was not made by you, please ignore this email.
          </p>


            <p style="color: #c9eef4; font-weight: 400; font-size: 12px;">This is an automated message, do not reply. For support reach out to the <a href="mailto:site.logger.verify@gmail.com" target="_blank" style="color: #771818;">support team</a></p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
