{% extends 'basepublic.html' %}
{% load static %}
{% block hero %}
    <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
            <h2 class="text-center sub-heading">Verify your Email</h2><br>
             {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'verification' %}" method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}
                <label for="password">OTP</label>
                <input type="number" class="form-control mt-2" placeholder="OTP" name="otp" id='password' required>
                <div class="d-flex flex-column align-items-center">
                <button class="btn btn-success mt-2" type="submit">Verify Email</button>
                </div>
            </form>
        </div>
     </div>
{% endblock %}